<!{% extends "shared/base.html" %}

{% block content %}
    <h1>404</h1>
    <p>not found. try again?</p>
    <pre>                                                                                                                                                                                     
                                                                             **                     
                                                                          ***+**+**                 
                                                                        ***+*+**++-+***             
                                                                     *********************          
                                                                  ***+*****************+#-          
                                                               #*****+**+***+**+**+*++*             
                                               +*@           ***+****+**+*++***+**+*+               
                                       ++++++*#**%#+*###%  **********+**+*++*=****                  
                                      -+####***%%#***###%%%.  ***+.+*********+                      
                                    :===+###########%%%%%%%  +. :**********-.                       
                                   :---===+#@@@%%%%%%%@#=:..  .+:  +**+**:                          
                                  :--.: ....::-:::--=--=-==::     =- *..                            
                                 +=-.:--:.....:-:..:..........=                                     
                                ==  .:-:...-:-------....::::..:=                                    
                                +=......-...:-.=-::-=-*******==+***+=                               
                                 %*:....--:=-..=-=+++*+*+=#@@@@@@@@@@@@%+                           
                                 .%%-::...-:.::=***+*+=#@@@@@@@@@@@@@@@@%#                          
                                   #%+:..-:..:-****+=%@@@@%%###%@@@@@@@@@@%                         
                                    %%#--::=*##***+#@%@@@@@%###@@@@@@@@@@@@%                        
                          *+*+.      +*##%##*%##*=@@@@@@@%@%%%%%@@@#%%%%%@@#                        
                        **+++++-    *# -@%**@%%#+@%#%@@@%#@@@%%%%%++#%%%%%%#                        
                     *++++++++++=  .     @@#+#*+@@@%***#%@@@@@%#-=#+*###%%%*                        
                   *++++++++++:+++         @%#*%@@@@@#%%%%%%@@%#+-.:%@####+                         
                *++++++++++++++++++.=     ##%%#@@@@@%%%%###%@%%%*-#@@@@**=                          
              +++++++++++++++++++=*+=         **%@@%%@@@%%%@@@%%#=+*#@@%=                           
           *++++++++++++++++++=++*+           ++==-=@@@@%%%%%@@%@@##*+*=                            
         +++++++++++++++++++++**-             +=++==+@@@@@@#-=%@@@@#=-                              
         +++++++++++++++++++*=                 ++++===+##*-------=-:                                
          +++=+++++++++=+*+.                     ===-------------:                                  
          ++=+++++++=++**                          *=---=---::                                      
           +++++++=+**                                                                              
            =+++++*=                                                                                
            +++*+.                                                                                  
             -.                                                                                                                                                           
    </pre>
{% endblock %}