{% extends "shared/base.html" %}

{% block content %}
    <h1>About</h1>
    <p>arxivr makes browsing and finding papers on arXiv easier.</p>
    <p>Inspired by <a href="https://arxiv-sanity-lite.com/">arxiv-sanity-lite.com</a></p>

    <h2>How it works</h2>
    <p>arxivr uses a combination of common search techniques and vector search to find papers.</p>
    <p>Abstracts have been pulled from the following categories: cs.CL, cs.AI, cs.MA, cs.CV, cs.LG, cs.RO, cs.SY, cs.SI, cs.HC, cs.IR, between the years 2021-2025. They're stored in a local sqlite database, which is queried on every page load.</p>
    <p>The vector search is powered by <a href="https://huggingface.co/google/siglip-base-patch16-224">siglip</a>, a vision-language model, and hnswlib for approximate nearest neighbor search.</p>
{% endblock %}
