{% extends "shared/base.html" %}

{% block content %}
    <h1>All Papers</h1>
    
    <div class="papers-list">
        {% for paper in papers %}
            <div class="paper">
                <h2>{{ paper.title }}</h2>
                <!-- Add other paper details here -->
            </div>
        {% endfor %}
    </div>
    <!-- TODO we could use htmx here to prevent full page reloads -->
    <div class="pagination">
        {% if has_prev %}
            <a href="{{ url_for('all_papers', page=page-1) }}">&laquo; Previous</a>
        {% endif %}
        
        <span>Page {{ page }} of {{ total_pages }}</span>
        
        {% if has_next %}
            <a href="{{ url_for('all_papers', page=page+1) }}">Next &raquo;</a>
        {% endif %}
    </div>
{% endblock %} 