{% extends "shared/base.html" %}

{% block content %}
    <h1>Saved Papers</h1>
    <div id="snackbar" style="visibility: hidden; min-width: 250px; margin-left: -125px; background-color: #333; color: #fff; text-align: center; border-radius: 2px; padding: 16px; position: fixed; z-index: 1; left: 50%; bottom: 30px; font-size: 17px;">Message</div>
    <script>
        function showSnackbar(message) {
            const snackbar = document.getElementById("snackbar");
            snackbar.textContent = message;
            snackbar.style.visibility = "visible";
            setTimeout(() => { snackbar.style.visibility = "hidden"; }, 3000);
        }
    </script>
    <div>
    {% for paper in papers %}
        <div id="paper-{{ paper.id }}">
            <h3><a href="{{ url_for('paper', paper_id=paper.id) }}">{{ paper.title }}</a></h3>
            <p class="paper-metadata">
            <span aria-label="Published date" style="font-style: italic">{{ paper.published }}</span> |
            <span aria-label="Paper category" style="font-weight: bold">{{ paper.category }}</span>
            <br>
            <span aria-label="Authors">{{ paper.author }}</span>
            <br>
            </p>
            <p>{{ paper.summary }}</p>
            <form action="{{ url_for('unsave_paper') }}" method="post" class="unsave-form" onsubmit="submitForm(event, {{ paper.id }})">
                <input type="hidden" name="paper_id" value="{{ paper.id }}">
                <input type="hidden" name="user_id" value="{{ request.cookies.get('user_id') }}">
                <button type="submit">Unsave</button>
            </form>
        </div>
    {% endfor %}    
    </div>
    <script>
        function submitForm(event, paperId) {
            event.preventDefault();
            const form = event.target;
            const data = {
                paper_id: form.paper_id.value,
                user_id: form.user_id.value
            };
            fetch(form.action, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            })
            .then(response => response.json())
            .then(data => {
                showSnackbar(data.message);
                if (data.message === 'Paper unsaved successfully') {
                    const paperDiv = document.getElementById('paper-' + paperId);
                    if (paperDiv) {
                        paperDiv.remove();
                    }
                }
            })
            .catch((error) => {
                console.error('Error:', error);
            });
        }
    </script>
{% endblock %}
